*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  text-decoration: none;
}

.middle {
  position: absolute;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
