{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css')}}" />
{% endblock head %}
{% block title %}
    MMC-DbaaS (User Feedback)
{% endblock title%}
{% block content %}

    <form class="col-lg-5 offset-lg-3" id="edit-host-form"  method="POST" action = "{{ url_for('feedback') }}">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div class="row g-3 border border-left-1 border-primary border-3 col ms-3 me-3 mt-5">
            <div class="align-items-center" style="justify-content: center">
                <h6><span class="label label-default form-control-lg"><strong>Category</strong></span></h6>
                {{ form.categories(class="form-control form-control-md mb-3") }}
                <h6><span class="label label-default form-control-lg"><strong>Response</strong></span></h6>
                {{ form.response(class="form-control form-control-md mb-3 required", id="response", required="required", placeholder="Feedback/Report and issue/Request an enhancement", rows=10) }}
                <button type="submit" class="btn btn-lg btn-primary btn-block mb-3" id="save_button" style="float: right;">Submit</button>
            </div>
        </div>
    </form>

{% endblock content %}

{% block script %}
{% endblock script %}

