{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}" />
{% endblock head %}
{% block title %}
    MMC-DbaaS (Scan Status)
{% endblock title%}
<!-- https://www.youtube.com/watch?v=2TR_6VaVSOs "Python Data Visualization With Bokeh"-->
{% block content %}
    <div class = "row no-gutters mx-auto pl-1 mt-3">
        <!-- <table class="table table-primary table-bordered border-primary table-striped" > -->
        <!-- <h1 class="text-center display-6" style="font-size: large; font-weight: bold; font-family:sans-serif;">Scan Status Report</h1> -->
        <!--<h1 class="text-center display-6" style="font-weight: bold; font-family:sans-serif;">Scan Status Report</h1> -->
        <form method="POST" action = "{{ url_for('scan_status') }}">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <label class="d-inline-block text-center" for="filter" style="font-size:20px;"><strong>Filter:</strong></label>

            {{ form.opco }}
            <!-- {{ form.startDate(class='datepicker') }}
            {{ form.endDate(class='datepicker') }}
            -->
            {{ form.startDate(type="date") }}
            {{ form.endDate(type="date") }}
            <!--
            <input type="date" id="startDate" name="startDate">
            <input type="date" id="endDate" name="endDate">
            -->
            <label class="d-inline-block"> </label>
            <input type="submit" class="btn btn-primary btn-sm" type="applyFilter" value="Apply">

            <div style="height: 10px;"></div> <!-- empty line -->
            <!-- table-responsive is needed for td class text-nowrap to be used -->
            <table data-toggele="table" data-search-align="left" id="scanStatusTable" class="table table-sm table-bordered table-responsive table-hover" border="1" style="width:100%">

                <thead class="table-primary">
                    <tr>
                        <th>Action</th>
                        {% for header in headings %}
                            <th> {{ header }}  </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="table-light">
                    <tr>
                        {% for row in data %}
                            <td style="text-align: center">
                                <span class="btn btn-outline-secondary btn-sm btn-view-auditscan" role="button">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </td>
                            {% for cell in row %}
                                {% if loop.index == 9 or loop.index == 10 or loop.index == 11 or loop.index == 13 %}
                                    {% if cell.upper() in ["MISSING","UNSUCCESS"] %}
                                        <td class="text-nowrap bg-danger text-white">{{ cell }} </td>
                                    {% elif cell.upper() == "N/A" %}
                                        <td class="text-nowrap">{{ cell }} </td>
                                    {% else %}
                                        <td class="text-nowrap bg-success text-white"> {{ cell }} </td>
                                    {% endif %}   
                                {% else %}
                                    <td class="text-nowrap"> {{ cell }} </td>                            
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <div>
                <!-- <input type="submit" class="btn btn-primary btn-sm" type="download" value="Download">-->
                {% if data|length > 0 %}
                    <!--<input type="submit" class="btn btn-primary btn-md" data-bs-toggle="tooltip" data-bs-placement="top" title="Download content" value="Download"><i class="fa fa-download"></i>-->
                    <button type="submit" class="btn btn-primary btn-md btn-download" name="download" value="download"><i class="fa fa-download"></i> Download</button>
                {% else %}
                    <button type="submit" class="btn btn-primary btn-md btn-download" name="download" value="download" disabled><i class="fa fa-download"></i> Download</button>
                {% endif %}
            </div>            
        </form>
    </div>
    <script>
        $('#scanStatusTable').DataTable({
            "order": [[ 7, "asc" ]]
        });

        $(document).on('click',".btn-view-auditscan", function(e){
            var currentRow = $(this).closest('tr')
            var currentRow=$(this).closest("tr");
            var hostName = currentRow.find("td:eq(5)").text(); // get the qst cell value
            var scanDate = currentRow.find("td:eq(7)").text(); // get the qst cell value
            //alert("view tenant " + tenantName);
            var request = $.ajax({
                url: '/processAjaxReq',
                data: JSON.stringify({"endPoint" : "viewAuditScan", "args" : {"hostName": hostName, "scanDate" : scanDate}}),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                type: 'POST'
            });
            request.done(function(response) {
                //window.location.href="/host.html";
                if(response){
                    console.log(response);
                    window.location.href=response.redirect;
                }
                //$('#response').text(JSON.stringify(response)); 
            });
            request.fail(function(jqXHR, textStatus, errorThrown) {
                console.warn(jqXHR.responseText)
                console.log(JSON.stringify(jqXHR));
                console.log( "Request failed: " + textStatus + errorThrown);
            });
            click.stopPropagation();
            click.preventDefault();
        });

    </script>
{% endblock content%}
<!-- https://www.educba.com/bootstrap-sort-table/ for table sorting-->
{% block script %}
{% endblock script %}
