{% extends 'layout.html' %}

{% block head %}
{% endblock head %}
{% block title %}
    MMC-DbaaS (Under Maintenance)
{% endblock title%}

{% block content %}
    <div class="text-center mt-3 mb-3">
        <img src="static/under_maintenance.png" class="img-fluid" style="width: 700px;">
    </div>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Sorry !! This site is currently down for maintenance, we'll be back soon</h1>
			</div>
		</div>
	</div>
{% endblock %}