<!DOCTYPE html>
<!--https://www.youtube.com/watch?v=YesSVqjcDts- -->
<!--  https://www.youtube.com/watch?v=V0O4pY2xX10-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Marsh DbaaS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='onboarding.png') }}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js" ></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Marsh DBaaS</h2>
        <ul>
            <li><a href="home.html"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="onboarding.html"><i class="fas fa-tasks"></i></i>Onboarding</a></li>
            <li><a href="dashboard.html"><i class="fas fa-user"></i>Dashboard</a></li>
            <li><a href="deployment.html"><i class="fas fa-project-diagram"></i>Deployment</a></li>
            <li><a href="links"><i class="fas fa-link"></i></i>Links</a></li>
            <li><a href="misc.html"><i class="fas fa-address-book"></i>Misc</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>About</a></li>

        </ul> 
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>  
        <div class="info">
          <div>DbaaS portal !!!</div>
      </div>
    </div>
</div>

</body>
</html>